<app-menu></app-menu>
<div class="component-content">
	<div>
		<span class="component-title">[{{ title }}]</span>
	</div>
	<p *ngIf="!user">Loading...</p>
	<div *ngIf="user">
		<div class="form-group row">
			<label class="col-form-label col-sm-2" for="userfirstname">First name:</label>
			<input [(ngModel)]='user.FirstName' name="FirstName" type="text" class="form-control col-sm-6" id="userfirstname" aria-describedby="fnameHelp" placeholder="First name">
			<small id="fnameHelp" class="form-text text-muted col-sm-2">User's First Name</small>
			
		</div>
	</div>
</div>