<app-menu></app-menu>
<div class="component-content">
	<div class="lefthalf">
		<span class="component-title">[{{ title }}]</span>
		<span><a routerLink='/user/create'>
			<img id="createnew" width="20" height="20" src="assets/add-icon.png" title="Add New">
			</a>
		</span>
	</div>	
</div>
<p *ngIf="!users">Loading...</p>
<table class="table table-sm" *ngIf="users">
	<tr>
		<th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
			(click)="setSortBy('Id')">Id</a></th>
		<th class="btn-link"><a class="btn btn-link font-weight-bold"
			(click)="setSortBy('UserName')">UserName</a></th>
		<th>Password</th>
		<th>FirstName</th>
		<th class="table-secondary"><a class="btn btn-link font-weight-bold"
			(click)="setSortBy('LastName')">LastName</a></th>
		<th>PhoneNumber</th>
		<th>Email</th>
		<th>Privilege</th>
		<th>Action</th>
	</tr>
	<tr *ngFor="let user of users | sort:sortBy">
		<td>{{ user.Id }}</td><td>{{ user.UserName }}</td><td>{{ user.Password }}</td><td>{{ user.FirstName }}</td><td>{{ user.LastName }}</td><td>{{ user.PhoneNumber }}</td><td>{{ user.Email }}</td><td>{{ user.Reviewer?"Rvw":"" }}   {{ user.Admin?"Adm":"" }}</td>
		<td class="actions">
			<a routerLink='/user/detail/{{user.Id}}'>
			<img src="assets/details.png" width="20" height="20" title="Detail"></a>
			<a routerLink='/user/edit/{{user.Id}}'>
			<img src="assets/pencil-icon.png" width="20" height="20" title="Edit"></a>
		</td>
	</tr>
</table>