<app-menu></app-menu>
<div>
</div><div class='component-content'>
	<div>
		<span class='component-title'>{{title}}</span> 
		<!-- | <span><a routerLink='/product/create'>New Product</a></span> -->
		| <span><a routerLink='/product/list'>Back to list</a></span>
	</div>
	<p *ngIf='undefined'>Loading ...</p>

	<div *ngIf='product'>
		<div class='form-group row' >
		    <label class='col-form-label col-sm-2' for="vendor">Vendor:</label>
			<div class=' col-sm-6 select-list'>
				<select [(ngModel)]='product.Vendor.Id' [compareWith]='compareFn' class='form-control' name='Vendor' id='product-Vendor'>
					<option *ngFor="let vendor of vendors" [ngValue]="vendor.Id" [selected]="vendor.Id == product.Vendor.Id">{{vendor.Name}}</option>
				</select>
			</div>
		</div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="productpartnumber">PartNumber:</label>
	    <input [(ngModel)]='product.VendorPartNumber' name='PartNumber' type="text" class="form-control col-sm-6" id="productpartnumber" aria-describedby="partnumberHelp" placeholder="PartNumber">
	    <small id="partnumberHelp" class="form-text text-muted col-sm-2">The PartNumber</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="productname">Name:</label>
	    <input [(ngModel)]='product.Name' name='Name' type="text" class="form-control col-sm-6" id="productname" aria-describedby="nameHelp" placeholder="Name">
	    <small id="nameHelp" class="form-text text-muted col-sm-2">The Name</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="productprice">Price:</label>
	    <input [(ngModel)]='product.Price' name='Price' type="number" step="any" min="0" class="form-control col-sm-6" id="productprice" aria-describedby="priceHelp" placeholder="Price">
	    <small id="priceHelp" class="form-text text-muted col-sm-2">The Price</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="productunit">Unit:</label>
	    <input [(ngModel)]='product.Unit' name='Unit' type="text" class="form-control col-sm-6" id="productunit" aria-describedby="unitHelp" placeholder="Unit">
	    <small id="unitHelp" class="form-text text-muted col-sm-2">The Unit</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="productphotopath">PhotoPath:</label>
	    <input [(ngModel)]='product.PhotoPath' name='PhotoPath' type="text" class="form-control col-sm-6" id="productphotopath" aria-describedby="photopathHelp" placeholder="PhotoPath">
	    <small id="photopathHelp" class="form-text text-muted col-sm-2">The PhotoPath</small>
	  </div>
	  <div class='form-group'>
	  	<button (click)='change()' class='btn btn-primary'>Update</button>
	  </div>
  </div>
</div>