<app-menu></app-menu>
<div class="component-content">
<div>
	<span class="component-title">[{{ title }}]</span>
	| <span><a routerLink='/purchaserequest/list'>Back to list</a></span>
</div>
<p *ngIf="!purchaseRequest">Loading...</p>
<div *ngIf="purchaseRequest">
	<div class='form-group row' >
		<label class='col-form-label col-sm-2' for="userName">User:</label>
		<input [(ngModel)]='purchaseRequest.User.UserName' name = 'User' type="text" class="form-control col-sm-6" id="userName" aria-describedby="userHelp" placeholder="First Last" disabled>
		<small id="userHelp" class="form-text text-muted col-sm-2">User's Name</small>
	</div>
	<div class="form-group row">
		<label class='col-form-label col-sm-2' for="description">Description:</label>
		<input [(ngModel)]='purchaseRequest.Description' name = 'Description' type="text" class="form-control col-sm-6" id="description" aria-describedby="descriptionHelp" placeholder="PurchaseRequest description">
		<small id="descriptionHelp" class="form-text text-muted col-sm-2">Request Description</small>
	</div>
	<div class="form-group row">
		<label class='col-form-label col-sm-2' for="justification">Justification:</label>
		<input [(ngModel)]='purchaseRequest.Justification' name = 'Justification' type="text" class="form-control col-sm-6" id="justification" aria-describedby="justificationHelp" placeholder="Request justification">
		<small id="descriptionHelp" class="form-text text-muted col-sm-2">Justification</small>
	</div>
	<div class="form-group row">
		<label class='col-form-label col-sm-2' for="purchaserequestdateneeded">Date Needed:</label>
		<input [(ngModel)]='purchaseRequest.DateNeeded' name = 'DateNeeded' type="text" class="form-control col-sm-6" id="purchaserequestdateneeded" aria-describedby="dnHelp" placeholder="YYYY-MM-DD">
		<small id="dnHelp" class="form-text text-muted col-sm-2">Date Needed</small>
	</div>
	<div class="form-group row">
		<label class='col-form-label col-sm-2' for="purchaserequestdeliverymode">Delivery Mode:</label>
		<div class='col-sm-3'>
		<select [(ngModel)]='purchaseRequest.DeliveryMode' class="form-control">
			<option value="" selected disabled hidden></option>
			<option value="Pickup">Pick Up</option>
			<option value="FedEx">FedEx</option>
			<option value="UPS">UPS</option>
			<option value="Mail">Mail</option>
		</select>
		</div>
	</div>	
	<div class='form-group'>
		<button (click)='create()' class='btn btn-primary'>Create</button>
	</div>
</div>
</div>