<app-menu></app-menu>
<div class="component-content">
	<div class="lefthalf">
		<span class="component-title">[{{ title }}]</span>
		<span><a routerLink='/purchaserequest/review'>Back to list</a></span>
	</div>	
</div>
<p *ngIf="!request">Loading...</p>
<div *ngIf="request">
	<table class="table table-sm">
		<tr>
			<td>PR ID</td>
			<td>Description</td>
			<td>Status</td>
			<td>Total</td>
		</tr>
		<tr>
			<td>{{ request.Id }}</td>
			<td>{{ request.Description }}</td>
			<td>{{ request.Status }}</td>
			<td>{{ request.Total | currency }}</td>
		</tr>
	</table>
	<p><br></p>
	<p *ngIf="!prLineItems">Loading...</p>
	<div class="component-content" *ngIf="request">
		<span class='component-title'>[Lines]</span>
	        <a routerLink='/purchaserequestlineitem/create/{{ request.Id }}'>
	            <img src='assets/add-icon.png' width='20' height='20' >
	        </a>
	</div>
	<table class="table table-sm">
		<tr>
			<td>Id</td>
			<td>PR ID</td>
			<td>Product</td>
			<td>Price</td>
			<td>Quantity</td>
		</tr>
		<tr *ngIf="prLineItems.length == 0" class="table-danger">
			<td colspan=6>No line items yet. Please create a new one!</td>
		</tr>
		<tbody *ngIf="prLineItems">
		<tr *ngFor="let prli of prLineItems">
			<td>{{ prli.Id }}</td><td class="nbr">{{ prli.PurchaseRequest.Id }}</td><td>{{ prli.Product.Name }}</td><td>{{ prli.Product.Price | currency }}</td><td class="nbr">{{ prli.Quantity }}</td>
		</tr>
		</tbody>
	</table>
<p><br></p>
<div class="component-content" *ngIf='prLineItems && prLineItems.length > 0'>
	<div class="col-md-1 mb-3">
		<button (click)='approve()' class='btn btn-primary'>Approve</button>
	</div>
	<div class="col-md-1 mb-3">
		<button (click)='reject()' class='btn btn-danger' *ngIf="reasonForRejection.length > 0">Reject</button>
	</div>
	<div class="col-md-6 mb-3">
		<input [(ngModel)]='reasonForRejection' name='ReasonForRejection' type="text" class="form-control col-sm-6" id="reasonForRejection" placeholder="Reason for Rejection">
	</div>
</div>