<app-menu></app-menu>
<div class="component-content">
	<div class="lefthalf">
		<span class="component-title">[{{ title }}]</span>
		<span><a routerLink='/purchaserequest/list'>Back to list</a></span>
	</div>	
</div>
<p *ngIf="!request">Loading...</p>
<table class="table table-sm" *ngIf="request">
	<tr>
		<td>PR ID</td>
		<td>Description</td>
		<td>Status</td>
		<td>Total</td>
	</tr>
	<tr>
		<td>{{ request.Id }}</td>
		<td>{{ request.Description }}</td>
		<td>{{ request.Status }}</td>
		<td>{{ request.Total | currency }}</td>
	</tr>
</table>
<p><br></p>
<p *ngIf="!prLineItems">Loading...</p>
<div class="component-content" *ngIf="request">
	<span class='component-title'>[Lines]</span>
        <a routerLink='/purchaserequestlineitem/create/{{ request.Id }}'>
            <img src='assets/add-icon.png' width='20' height='20' >
        </a>
</div>
<table class="table table-sm">
	<tr>
		<td>Id</td>
		<td>PR ID</td>
		<td>Product</td>
		<td>Quantity</td>
		<td>Action</td>
	</tr>
	<tbody *ngIf="prLineItems">
	<tr *ngFor="let prli of prLineItems">
		<td>{{ prli.Id }}</td><td>{{ prli.PurchaseRequest.Id }}</td><td>{{ prli.Product.Name }}</td><td>{{ prli.Quantity }}</td>
		<td class="actions">
			<a routerLink='/purchaserequestlineitem/detail/{{prli.Id}}'>
			<img src="assets/details.png" width="20" height="20" title="Detail"></a>
			<a routerLink='/purchaserequestlineitem/edit/{{prli.Id}}'>
			<img src="assets/pencil-icon.png" width="20" height="20" title="Edit"></a>
			<!-- Need to fix this delete link -->
			<a (click)="remove()" routerLink='/purchaserequestlineitem/del/{{prli.Id}}'>
			<img src='assets/delete-x.png' width='20' height='20' title='Remove'></a>
			<!-- <button (click)="remove()"></button> -->
			<!-- <input type="image" src="assets/delete-x.png" alt="Delete" width="20" height="20"> -->
		</td>
	</tr>
	</tbody>
</table>